/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/ai-investment-advisor.iml
/.idea/CodeverseWorkspaceAppSettings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
